@font-face {
  font-family: "GT America Extended";
  src: url("./fonts/gtamericaextended.ttf") format("truetype");
}

@font-face {
  font-family: "GT America Extended Bold";
  src: url("./fonts/gtamericaextendedbold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: 'GT America Extended';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  height: 100vh;
  width: 100vw;
}

.main {
  /* display: flex; */
  width: 99vw; 
  height: 97vh; 
}

.main-static {
  /* display: absolute; */
  margin: auto;
  width: 1000px;
}

.create-post {
  border-bottom: 1px solid rgb(73, 73, 73);
}

.create-post-content {
  display: inline-flex;
  align-items: center;
  margin: 20px;
}

.create-post-input-div {
  padding-left: 20px;
  padding-bottom: 10px;
}

.create-post-input-div:focus-within {
  border-bottom: 1px solid rgb(73, 73, 73);
}

.create-post-input {
  font-family: GT America Extended;
  font-size: 20px;
  background-color: black;
  color: white;
  width: 450px;
  height: 40px;
  border: none;
}

.create-post-input:focus{
  outline: none;
}

.create-post-img {
  padding-bottom: 40px;
  padding-left: 100px;
}

.create-post-img-input {
  width: 400px;
  font-family: GT America Extended;
  font-size: 12px;
  background-color: black;
  color: white;
  border: none;
}

.create-post-img-input:focus {
  outline: none;
}

.create-post-img-input:focus-within {
  border-bottom: 1px solid rgb(73, 73, 73);
}

.create-post-img-btn:hover {
  cursor: pointer;
}

.create-post-btn {
  background-color: rgb(184, 108, 255);
  font-family: GT America Extended Bold;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  border: none;
  border-radius: 100px;
  color: white;
}

.create-post-btn:hover {
  background-color: rgb(169, 93, 240);
}

.create-post-user-img {
  height: 55px;
  width: 55px;
  border-radius: 100px;
}

.create-post-footer {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.feed {
  position: absolute;
  width: 600px;
  margin: auto;
  margin-right: 37.3%;
  right: 0;
  left: 0;
  border-right: 1px solid rgb(73, 73, 73);
  border-left: solid 1px rgb(73, 73, 73);
}

.feed-header {
  display: inline-flex;
  align-items: center;
  top: 0;
  left: 0;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.699);
  font-size: 12px;
  height: 40px;
  width: 580px;
}

.feed-header-h2 {
  padding-left: 35px;
}

.post-header {
  display: flex;
}

.post-container {
  border-bottom: 1px solid rgb(73, 73, 73);
  padding-bottom: 15px;
}

.post-container:hover {
  cursor: pointer;
  background-color: rgba(10, 10, 10, 0.699);
}

.post {
  padding: 1px;
  width: 580px;
}

.post-span {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  align-items: center;
}

.postId-span {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  align-items: center;
  margin-left: -20px;
}

.post-span p,
.postId-span p {
  color: rgb(68, 68, 68);
}

.post-body {
  border-left: 1px solid rgb(73, 73, 73);
  margin-left: 20px;
  padding: 5px;
}

.postId-body {
  font-size: 20px;
  margin-left: 15px;
  padding: 5px;
}

.post-media {
  padding-top: 20px;
  padding-left: 40px;
}

.post-img {
  width: 500px;
}

.post-icons {
  display: inline-flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-left: 20px;
}

.postId-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-left: 20px;
}

a {
  font-family: GT America Extended Bold;
  text-decoration: none;
  color: white;
}

ul li {
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding-block: 10px;
}

.text-input {
  text-align: center;
  font-family: GT America Extended;
  background-color: rgb(83, 83, 83);
  color: white;
  border: none;
  border-radius: 16px;
  width: 150px;
  height: 40px;
  margin-block: 10px;
}

.side-bar{
  height: 100%;
  position: fixed;
  right: 0;
  width: 37%;
}

.side-bar h2 {
  font-family: GT America Extended Bold;
}

.side-bar p {
  font-size: 14px;
  color: rgb(139, 139, 139);
}

.side-bar-sign-up{
  border: solid 1px rgb(73, 73, 73);
  width: 350px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.side-bar-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-btn {
  font-family: GT America Extended Bold;
  border: none;
  border-radius: 16px;
  padding: 5px;
  height: 35px;
  display: block;
  width: 280px;
}

.nav-container {
  /* display: inline-flex; */
  position: fixed;
  margin-left: -100px;
  width: 300px;
  /* position: fixed;
  top: 0;
  left: 0; */
}

.nav {
  height: 100%;
}

.nav-item-btn {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 100px;
  text-align: left;
  background-color: black;
  font-family: GT America Extended Bold;
  color: white;
  width: 200px;
  transition: all 0.2s;
  font-size: 20px;
}

.nav-item-btn:hover {
  background-color: rgba(56, 56, 56, 0.438);
}

.nav-item-btn
span {
  padding-left: 20px;
}

.nav-footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

.nav-user {
  margin-left: 10px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  border-radius: 100px;
  width: 250px;
  height: 60px;
  text-align: center;
  align-items: center;
  transition: .2s all;
}

.nav-user:hover {
  background-color: rgba(56, 56, 56, 0.438);
}

.nav-user-name-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 10px;
  padding-right: 25px;
}

.nav-user-username {
  font-size: 12px;
  transform: translateY(-80%);
}

.nav-user-name {
  font-family: GT America Extended Bold;
  font-size: 16px;
  transform: translateY(60%);
}

.nav-user-img {
  height: 45px;
  width: 45px;
  border-radius: 500px;
}

.nav-logo {
  padding-top: 20px;
  padding-left: 20px;
}

.nav a{
  color: white
}

.landing-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  background-color: rgb(184, 108, 255);
  align-content: center;
  justify-content: center; 
}

.landing-footer-btn-container {
  display: inline-block;
  margin-left: 100px;
  align-content: center;
  justify-content: center;
}

.landing-footer-btn {
  margin-inline: 5px;
  position: relative;
  font-family: GT America Extended Bold;
  vertical-align: middle;
  width: 100px;
  height: 30px;
  top: 35%;
  border: none;
  border-radius: 16px;
}

.login-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(244, 232, 255, 0.344);
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
}

.login {
  margin: auto;
  background-color: black;
  border-radius: 40px;
  height: 600px;
  width: 600px;
}

.login-form {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 40px;
  margin: auto;
  width: 280px;
  text-align: right;
}

.login-form .btn {
  margin-right: 30px;
}

.login-cancel {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
}

.create-account {
  text-align: center;
  width: 600px;
  flex-shrink: 0;
}

.err-msg-container {
  margin: auto;
  padding: 20px 0px 20px;
  font-weight: bold;
  color: red;
}

.btn {
  background-color: white;
  color: black;
  margin-top: 10px;
  border: none;
  border-radius: 100px;
  padding: 10px;
  width: 180px;
  font-family: GT America Extended Bold;
  transition: all .1s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(164, 88, 235);;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
